body{
    background: rgb(21,7,80);
background: radial-gradient(circle, rgba(21,7,80,1) 0%, rgba(163,64,36,1) 58%, rgba(231,91,15,1) 76%, rgba(255,252,0,1) 100%);
}

h1{
    color: black;
    text-shadow: 6px 4px 4px white;
    font-size: 80px;
    font-family:'Courier New', Courier, monospace;
    font-weight:bold;
    font-style: italic;
    
}
.banner{
    width: 100%;
    height: 100%;
    display: flex;
   
}
.favorites-btn{
    padding:6px;
    margin:12px;
    color: white;
    /* text-shadow: 2px 2px 3px grey; */
    background-color: rgba(57, 48, 107, 0.897);
    width: 120px;
    height: 100px;
    border-radius: 100px;
    font-size: 20px;
    font-weight: bold;
    font-family:'Courier New', Courier, monospace;
}
.searchabc-container{
    padding:8px;
    margin: 12px;
    background-color: rgb(223, 121, 25);
    color:black;
}
p{
    color:white;
    text-shadow: 2px 2px 3px grey;
    font-size: 32px;
    font-family:'Courier New', Courier, monospace;
    font-weight: bolder;
}
#form-container{
    text-shadow: 2px 2px 3px grey;
    padding:22px;
    background-color: rgb(57, 48, 107, 0.897);
    height:100px;
    color:white;
    font-size: 26px;
}
#search-bar{
 background-color: lightgray;
 height: 30px;
 width: 200px;
 border-radius: 10px;
}
#search{
    background-color: rgb(223, 121, 25);
    font-weight: bold;
    height: 30px;
    width: 80px;
    border-radius: 10px;
}
.modal-card-body{
    background-color: rgb(76, 9, 163);
    
}

.modal-card-head{
background-color: goldenrod;
}

.modal-card-title{
    color: black;
    font-size: 42px;
    
}

img{
    height:300px;
    width: 300px;
}
.modal-card-foot{
    background-color: goldenrod;
}
#fave-button{
    background-color:rgb(76, 9, 163) ;
}