*{
    font-family: 'Murecho', sans-serif;
}


body{
    background: rgb(21,7,80);
/* background: radial-gradient(circle, rgba(21,7,80,1) 0%, rgba(163,64,36,1) 58%, rgba(231,91,15,1) 76%, rgba(255,252,0,1) 100%); */
}

h1{
    padding:18px;
    color: white;
    text-shadow: 2px 4px 4px grey;
    font-size: 80px;
    font-family: 'Murecho', sans-serif;
    font-weight:bold;
    font-style: italic;
    
}
h2{
    color: white;
    /* text-shadow: 2px 4px 4px grey; */

}
.banner{
    width: 100%;
    height: 100%;
    display: flex;
   
}
.favorites-btn{
    padding:6px;
    margin:12px;
    color: white;
    /* text-shadow: 2px 2px 3px grey; */
    background-color: rgba(75, 53, 194, 0.897);
    width: 120px;
    height: 100px;
    border-radius: 100px;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Murecho', sans-serif;
}
.searchabc-container{
    padding:8px;
    margin: 12px;
    background-color: rgba(75, 53, 194, 0.897);
    /* color:black; */
    font-size: 30px;
    font-weight: bold;

}
p{
    padding: 6px;
    margin:6px;
    color:white;
    text-shadow: 2px 2px 3px grey;
    font-size: 32px;
    font-weight: bolder;
}
#form-container{
    text-shadow: 2px 2px 3px grey;
    padding:22px;
    background-color: rgba(75, 53, 194, 0.897);
    height:100px;
    color:white;
    font-size: 26px;
}
#search-bar{
 background-color: lightgray;
 height: 30px;
 width: 200px;
 border-radius: 10px;
}
#search{
    background-color: rgba(166, 133, 243, 0.911);
    font-weight: bold;
    height: 30px;
    width: 80px;
    border-radius: 10px;
}
.modal-card-body{
    background-color: rgb(76, 9, 163);
    
}

.modal-card-head{
background-color: goldenrod;
}

.modal-card-title{
    color: black;
    font-size: 42px;
    
}

img{
    /* display: flex; */
    padding: 20px;
    margin:8px;
    height:300px;
    width: 300px;
}
.modal-card-foot{
    background-color: goldenrod;
}
#fave-button{
    background-color:rgb(76, 9, 163) ;
}
.drink-grid{
    justify-content: space-between;
    display: flex;
    flex-wrap: wrap;
    
}

.flex-column{
    justify-content: space-between;
}
h3{
    font-size: 1.70rem;
    color: white;
    padding-left: 18px;
    padding-top: 18px;

}
.notification{
    color: white;
    font-size: 48px;

    background-color: rgba(23, 9, 49, 0.877);
}
#generate{
    background-color: rgb(0, 150, 196);
    height:3rem;
    border-radius: 15px;
    font-weight: bold;
    font-size: large;
}
#fact{
    display: inline-flex;
}
.button{
    background-color: grey;
    color:black;
    font-weight: bold;
}
#addFave{
    background-color: goldenrod;
    color:black;

}
#close-button{
    background-color:grey;
    border-radius: 10px;
    
}